#nop Include this line in every file to set the command character.

#read {tdome/credentials.tt}
#read {tdome/server.tt}
#read {tdome/startup.tt}
#read {tdome/hacks.tt}
#read {tdome/aliases.tt}
#read {tdome/actions.tt}
