#nop Include this line in every file to set the command character.

#read {config/tdome/settings.tt};
#read {config/tdome/operations.tt};
#read {config/tdome/map.tt};
#read {config/tdome/automation.tt};
#read {config/tdome/startup.tt};
#read {config/tdome/server.tt};
