#nop Include this line in every file to set the command character.

#alias {home} {
  #send t curebot summon;
  #delay {1} {#send t curebot confirm summon};
}
#alias {bail} {
  #send flee;
  home;
  #send flee;
  #send flee;
}
#alias {nobail} {
  #send t curebot cancel summon;
}
