#nop Include this line in every file to set the command character.

#alias {pack} {
  #send remove all;
  #send wield $wield;
  #send dual $dual;
  #send wear all;
  #send remove $container;
  #send put all in $container;
}


