#nop Include this line in every file to set the command character.

#alias {pack} {
  #send remove all;
  #foreach {sword;utility;butterfly;survival;switchblade;knife} {weapon} {
    #send wield $weapon;
    #send dual $weapon;
  }
  #send wear all;
  #send put all in cart;
  #send put all in sack;
  #send put all in bag;
}


