#nop Include this line in every file to set the command character.

/*
 * A flat list would make more sense, but it seems like only an associative
 * array can be easily counted.  Start indexing at 1.
 */
#var {patrol_points} {
  {1}{fun_house}
  {2}{monkeys}
  {3}{dwarves}
};

/* There's a door in the way. */
/*
  {4}{ghosts}
*/
