#nop Include this line in every file to set the command character.

#read {config/tdome/automation/lock.tt};

#read {config/tdome/automation/auto-bid.tt};
#read {config/tdome/automation/prey.tt};
#nop #read {config/tdome/automation/behave.tt};
#read {config/tdome/automation/life_support.tt};
#read {config/tdome/automation/replenish.tt};
#read {config/tdome/automation/patrol.tt};
#read {config/tdome/automation/wander.tt};
