#nop Include this line in every file to set the command character.

/* Display a map. */
#map read maps/ta
#map flag vtmap on
#map flag AsciiGraphics off
#map flag unicode on

#map offset {0} {81} {2} {0}
