#nop Include this line in every file to set the command character.

#action {$description} {
  #if {1 == $prey} {jump $target_name;};
}
#action {$description_name arrives} {
  #if {1 == $prey} {jump $target_name;};
}
#action {$description_name moves into view} {
  #if {1 == $prey} {jump $target_name;};
}
#action {$description_name climbs up into view} {
  #if {1 == $prey} {jump $target_name;};
}
#action {$description_name climbs up into view} {
  #if {1 == $prey} {jump $target_name;};
}
