#nop Include this line in every file to set the command character.

#alias {tdome} {
  #session session1 $server $port;
}
#event {PROGRAM START} {
  tdome;
}
#event {SESSION CONNECTED} {
  #send $user;
  #send $pass[1];
  #read {config/tdome/map.tt}
}

