#nop Include this line in every file to set the command character.

#var {user} {NeoMercevi};
#script {pass} {bash -c 'pass show aaron/tdome.net/$user'};

#var {map} {ta};

#var {wield}            {knife};
#var {dual}             {knife};
#var {container}        {bag};
#var {water_container}  {barrel};
#var {water_place}      {cooler};
#var {water_thing}      {fountain};
#var {food_place}       {mcdeath};
#var {food_thing}       {hamburger};

#var {sleep_time}       {60};
